
.feature-section {
    display: flex;
    justify-content: center;
    background-color: #f8f8fa;
    font-family: Arial, sans-serif;
}

.feature-item {
    display: flex;
    align-items: center;
    margin: 36px;
    max-width: 300px;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e5e8ed;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 21px;
    font-weight: 600;
    color: #333;
    margin-bottom: 2px;
}

.description {
    font-size: 14px;
    color: #8c8c93;
    line-height: 1.2;
}

img {
    width: 33%;
    height: 35%;
    padding-top: 16px;
}

